<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>index.html</title>
</head>
<body>
<p>Hello, production ansible!!</p> 
<p>This is {{ inventory_hostname }}!</p>
<p>continuous delivery!! as of 2017/02/08 retry3 Kazu535g</p>
</body>
</html>
